.siderbar {
    width: 34rem;
    padding: 0.5rem 3rem;
    background-color: #fff;
    overflow: auto;
    .el-collapse {
        border: 0;
        :deep(.el-collapse-item__wrap) {
            border: 0;
        }
        :deep(.el-collapse-item__header) {
            font-size: 1.4rem;
            border: 0;
        }
    }
    .component {
        .item {
            width: calc(100% / 3);
            padding: 0.5rem;
            .img {
                width: 3rem;
                height: 3rem;
            }
        }
    }
    &-show {
        display: flex;
        padding: 0.5rem;
        transition: box-shadow 0.5s ease;
    }
    &-show:hover {
        cursor: pointer;
        border-radius: 0.5rem;
        box-shadow: 0 0 0.5rem 0 rgba(24, 144, 255, 0.3);
        transform: scale(1.05);
        transition: all 0.4s;
    }
    &-hidden {
        display: none;
    }
}
@media screen and (max-width: 1560px) {
    .siderbar {
        width: 32rem;
    }
    .drawer-container {
        display: none;
    }
}
.main {
    flex: 1;
    position: relative;
    height: 100%;
    width: 100%;
    .acticons {
        position: absolute;
        left: 50%;
        margin-left: 26rem;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        z-index: 1;
        .el-button {
            border-radius: 0.4rem;
            width: 11.8rem;
        }
        .el-button + .el-button {
            margin-left: 0;
        }
    }
    .model {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        height: 100%;
        padding: 2rem 0;
        .model-content {
            position: relative;
            max-height: 84.6rem;
            height: 100%;
            .model-bottom {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
                .roll {
                    border-top: 0.1rem solid #f5f5f5;
                    height: 4rem;
                    width: 39rem;
                    background: #fff;
                    margin: 0 auto;
                }
            }

            .model-drag {
                overflow-y: auto;
                padding-top: 0.2rem;
                max-height: 84.4rem;
                height: 100%;
                &::-webkit-scrollbar {
                    display: none;
                }
                .model-wall {
                    width: 39rem;
                    background: #f5f5f5;
                    margin: 0 auto;
                    min-height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    .drag-area .float-window {
                        position: fixed;
                        max-width: 39rem;
                        margin: 0 auto;
                        z-index: 3;
                    }
                    .main-content {
                        max-width: 39rem;
                        overflow: hidden;
                    }
                    .model-wall-content {
                        min-height: 100%;
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;
                    }
                }
            }
            // 悬浮按钮控制， 未选中情况下宽度自适应
            .plug-in-table.float-window {
                .plug-in-name {
                    display: none;
                }
            }
            // 选中情况下宽度是100%
            .plug-in-border.float-window {
                .plug-in-name {
                    display: block;
                }
            }
            .plug-in-border {
                position: relative;
                // border: 0.2rem solid $cr-main;
                z-index: 1;
                box-sizing: border-box;
            }
            .plug-in-border::before {
                content: '';
                width: calc(100% + 0.4rem);
                height: calc(100% + 0.4rem);
                position: absolute;
                top: -0.2rem;
                left: -0.2rem;
                // z-index: 1;
                border: 0.2rem solid $cr-main;
            }
            .plug-in-animation {
                transition: all 0.3s ease-in-out;
                &:hover {
                    box-shadow: 0 2px 8px rgba(50, 55, 58, 0.1);
                }
            }
            .plug-in-table {
                display: table;
                width: 100%;
                cursor: move;
                transform: translateZ(0rem) !important;
            }
            .plug-in-name {
                position: absolute;
                top: 0;
                background: #fff;
                left: -10rem;
                width: 8.6rem;
                height: 3.2rem;
                text-align: center;
                line-height: 3.2rem;
                font-size: 1.3rem;
                color: #666;
                border-radius: 0.3rem;
                z-index: 99;
                &::before {
                    content: '';
                    position: absolute;
                    width: 1rem;
                    height: 1rem;
                    background: #fff;
                    transform: rotate(45deg);
                    top: 50%;
                    right: -0.5rem;
                    margin-top: -0.5rem;
                }
            }
            .plug-in-close::before {
                position: absolute;
                content: '\5DF2\9690\85CF';
                background: rgba(0, 0, 0, 0.5);
                width: 100%;
                height: 100%;
                z-index: 99;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .plug-in-right {
                background: $cr-main;
                position: absolute;
                right: -5rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                padding: 2rem 1.2rem;
                color: #fff;
                border-radius: 0.4rem;
                & > i {
                    cursor: pointer;
                }
                & > i.disabled {
                    color: #5db2ff;
                    cursor: not-allowed;
                }
            }
            .main-show {
                display: inherit;
            }
            .main-hidden {
                display: none;
            }
            .main-border {
                padding: 1rem;
                border: 0.1rem dashed $cr-main;
                background: #b9d8f5;
            }
        }
        .plug-in-right {
            background: $cr-main;
            position: absolute;
            right: -5rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 2rem 1.2rem;
            color: #fff;
            border-radius: 0.4rem;
            & > i {
                cursor: pointer;
            }
            & > i.disabled {
                color: #5db2ff;
                cursor: not-allowed;
            }
            & .icon-arrow-top,
            & .icon-arrow-bottom {
                height: 0.9rem;
            }
        }
        .main-show {
            display: inherit;
        }
        .main-hidden {
            display: none;
        }
        .main-border {
            padding: 1rem;
            border: 0.1rem dashed $cr-main;
            background: #b9d8f5;
        }
    }
}
.seat {
    background: transparent;
    height: 0.2rem;
    width: 39rem;
    margin: 0 auto;
}

.drawer-container {
    position: relative;
    overflow: hidden;
    margin-left: 0.1rem;
    transition: 0.8s ease;
    .drawer-content {
        position: absolute;
        top: 0;
        width: 12.8rem;
        height: 100%;
        background: #fff;
        transition: left 0.8s ease;
    }
    .drawer-title {
        line-height: 4.8rem;
        transition: 0.4s ease;
    }
    .drawer-drag-bg {
        background: #f2f8ff;
    }
    .drawer-drag-area {
        height: calc(100% - 4.5rem);
        overflow-y: auto;
    }
    .drawer-drag {
        cursor: move;
    }
    .drawer-drag:hover {
        background: #f2f8ff;
        .iconfont.icon-close-b {
            display: block !important;
        }
    }
    .iconfont.icon-close-b {
        right: 1rem;
        top: 1.4rem;
        color: #8a8a8a;
        cursor: pointer;
    }
}

.layout-toggle-bar {
    cursor: pointer;
    height: 6.4rem;
    width: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 3;
    .layout-toggle-bar-top, .layout-toggle-bar-bottom {
        position: absolute;
        width: 0.2rem;
        border-radius: 0.2rem;
        height: 3rem;
        left: 1rem;
        background: #e6e6e6;
        transition: 1s ease;
    }
    .layout-toggle-bar-bottom {
        top: 2.6rem;
    }
}
.layout-toggle-bar-close:hover {
    .layout-toggle-bar-top, .layout-toggle-bar-bottom {
        background: $cr-main;
        transition: 1s ease;
    }
    .layout-toggle-bar-top {
        transform: rotate(12deg) scale(1.05) translateY(-0.2rem);
    }
    .layout-toggle-bar-bottom {
        transform: rotate(-12deg) scale(1.05) translateY(0.2rem);
    }
}

.layout-toggle-bar-open:hover {
    .layout-toggle-bar-top, .layout-toggle-bar-bottom {
        background: $cr-main;
        transition: 1s ease;
    }
    .layout-toggle-bar-top {
        transform: rotate(-12deg) scale(1.05) translateY(-0.2rem);
    }
    .layout-toggle-bar-bottom {
        transform: rotate(12deg) scale(1.05) translateY(0.2rem);
    }
}