.hover-class-opacity {
    opacity: 0.7 !important;
}

.disabled {
    opacity: 0.5 !important;
}
.border-none {
    border-style: none !important;
}

.bg-primary {
    background-color: $cr-primary;
}
.bg-primary-dark {
    background-color: $cr-primary-dark;
}
.bg-primary-light {
    background-color: $cr-primary-light;
}
.bg-warning {
    background-color: $cr-warning;
}
.bg-warning-dark {
    background-color: $cr-warning-dark;
}
.bg-warning-light {
    background-color: $cr-warning-light;
}
.bg-success {
    background-color: $cr-success;
}
.bg-success-dark {
    background-color: $cr-success-dark;
}
.bg-success-light {
    background-color: $cr-success-light;
}
.bg-error {
    background-color: $cr-error;
}
.bg-error-dark {
    background-color: $cr-error-dark;
}
.bg-error-light {
    background-color: $cr-error-light;
}
.bg-info {
    background-color: $cr-info;
}
.bg-info-dark {
    background-color: $cr-info-dark;
}
.bg-info-light {
    background-color: $cr-info-light;
}

.br-primary {
    border-color: $cr-primary !important;
}
.br-primary-dark {
    border-color: $cr-primary-dark !important;
}
.br-primary-light {
    border-color: $cr-primary-light !important;
}
.br-warning {
    border-color: $cr-warning !important;
}
.br-warning-dark {
    border-color: $cr-warning-dark !important;
}
.br-warning-light {
    border-color: $cr-warning-light !important;
}
.br-success {
    border-color: $cr-success !important;
}
.br-success-dark {
    border-color: $cr-success-dark !important;
}
.br-success-light {
    border-color: $cr-success-light !important;
}
.br-error {
    border-color: $cr-error !important;
}
.br-error-dark {
    border-color: $cr-error-dark !important;
}
.br-error-light {
    border-color: $cr-error-light !important;
}
.br-info {
    border-color: $cr-info !important;
}
.br-info-dark {
    border-color: $cr-info-dark !important;
}
.br-info-light {
    border-color: $cr-info-light !important;
}

.cr-primary {
    color: $cr-primary;
}
.cr-primary-dark {
    color: $cr-primary-dark;
}
.cr-primary-light {
    color: $cr-primary-light;
}
.cr-warning {
    color: $cr-warning;
}
.cr-warning-dark {
    color: $cr-warning-dark;
}
.cr-warning-light {
    color: $cr-warning-light;
}
.cr-success {
    color: $cr-success;
}
.cr-success-dark {
    color: $cr-success-dark;
}
.cr-success-light {
    color: $cr-success-light;
}
.cr-error {
    color: $cr-error;
}
.cr-error-dark {
    color: $cr-error-dark;
}
.cr-error-light {
    color: $cr-error-light;
}
.cr-info {
    color: $cr-info;
}
.cr-info-dark {
    color: $cr-info-dark;
}
.cr-info-light {
    color: $cr-info-light;
}

.bg-primary-tips {
    background-color: $cr-primary-tips;
}
.bg-warning-tips {
    background-color: $cr-warning-tips;
}
.bg-success-tips {
    background-color: $cr-success-tips;
}
.bg-error-tips {
    background-color: $cr-error-tips;
}
.bg-info-tips {
    background-color: $cr-info-tips;
}
